@{
    ViewData["Title"] = "Home Page";
}

<h2>Kullanıcı Giriş</h2>

<form>
    <div class="form-group">
        @Html.Label("Kullanıcı Adı")
        <input type="text" placeholder=" Kullanıcı Adı" id="kullanici_adi" class="form-control" />
        <br /> <br />
        @Html.Label("Kullanıcı Şifre")
        <input type="text" placeholder="Kullanıcı Şifre" id="kullanici_sifre" class="form-control" />
        <br /><br />
        <button id="loginBtn" class="btn btn-info">Giriş Yap</button>
    </div>
</form>
@section Scripts{
    <script src="~/pageJs/Auth/auth.js"></script>
}